{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Список альбомов</h1>
    <ol id="gallery-list">
        <li>
            <a href="" title="">
                <img src="img/gallery/photo.jpg" alt="">
            </a>
        </li>

    </ol>
{% endblock %}
