{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <style>
        #gallery-list { list-style: none; padding: 0; margin: 0; }
        #gallery-list LI { border-radius: 5px; border: 1px solid #CCC; margin: 0 20px 20px 0; padding: 1px; float: left; display: block; width: 150px; height: 210px; -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, .2); -moz-box-shadow: 0 1px 15px rgba(0,0,0,.2); box-shadow: 0 1px 15px rgba(0, 0, 0, .2); background: transparent; }
        #gallery-list LI IMG { width: 150px; height: 150px; border-radius: 5px;  }
        #gallery-list LI.add A { width: 150px; height: 150px; text-decoration: none; color: #AAA; display: block; text-align: center; }
        #gallery-list LI A { width: 150px; height: 150px; display: block; cursor: pointer; }
        #gallery-list LI.add DIV { padding-top: 80px; font-size: 11px; line-height: 1.4em; }
    </style>
</head>
<body>
    <div style="width: 80%; margin: 0 auto;">
        {% block body %}{% endblock %}
    </div>
{% block javascripts %}{% endblock %}
</body>
</html>
{% endspaceless %}
